{% extends "base.html.twig" %}
{% block title %}HOME{% endblock %}
{% block body %}

{% include "navbar/navbar.html.twig" %}

<h1>Home page</h1>
<p>Bienvenue sur le site du bon coin du pauvre </p>


{% endblock %}