header {
    /* background: linear-gradient( rgba(219, 183, 250, 0.6), rgba(219, 183, 250, 0.6) ), url('https://www.wallpapertip.com/wmimgs/33-338231_galactic-render.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    color: #000000;
    text-align: center;
}

.headerAddAnnonce {
    height: 110vh;
}

.containerForm {
    background: #F6C6EA;
    padding: 2rem 3rem;
    border: 3px solid #000000;
    color: #000000;
}

.formAddAnnonce, .formModifyAnnonce {
    width: 53vw;
}

.containerForm h1{
    font-size: 2.5rem;
}

.containerForm form{
    margin-bottom: 1em;
}

.containerForm form table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    border-collapse: separate; 
    border-spacing: 0 1.5em;
}

.containerForm form table input, textarea {
    margin-left: 1em;
    padding: 0.3em;
    width: 350px;
    border: 3px solid #000000;
    height: 50px;
    font-size: 1.8rem;
}

.containerForm form table tbody tr td:first-child {
    font-family: 'VT323';
    font-size: 30px;
}

.formAddAnnonce form table input{
    width: 39vw;
}
.formAddAnnonce form table textarea{
    width: 39vw;
}

.formModifyAnnonce form table input{
    width: 35vw;
}
.formModifyAnnonce form table textarea{
    width: 35vw;
}

.containerForm form table input[type=file] {
    height: auto;
    padding: 0.3em 0.3em;
}

.containerForm textarea {
    height: 200px;
}

.containerForm form button {
    margin-top: 1em;
}

@keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
}

.caseForm:hover {
    text-decoration: underline;
}