header {
    background: linear-gradient( rgba(219, 183, 250, 0.6), rgba(219, 183, 250, 0.6) ), url('https://images.unsplash.com/photo-1623910270913-3e0294a1c765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    color: #ffffff;
    text-align: center;
}
header h1 {
    font-family: "Press_start";
    font-size: 5rem;
    margin-bottom: 0.3em;
}
header p {
    font-size: 1rem;
    font-weight: lighter;
}

/* Carte */

.listCard {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.card {
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 2em;
    text-align: left;
    width: 220px;
    min-height: 220px;
    cursor: pointer;
    padding: 15px;
    border: 3px solid #ffffff;
    transition: .2s all;
  }

  .listCard .card h2 {
      font-size: 1.5rem;
  }
  
  .card:hover {
    box-shadow: 10px -10px 0 -3px #ffffff, 10px -10px #ffffff;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .card p {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 14px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
  }
  