.headerRegistrationLogin {
    background: linear-gradient( rgba(219, 183, 250, 0.6), rgba(219, 183, 250, 0.6) ), url('https://www.wallpapertip.com/wmimgs/33-338231_galactic-render.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    color: #000000;
    text-align: center;
}

.containerForm {
    background: #ffffff;
    padding: 2rem 3rem;
    border: 3px solid #000000;
}

.containerForm h1{
    font-size: 2.5rem;
}

.containerForm form{
    margin-bottom: 1em;
}

.containerForm form table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    border-collapse: separate; 
    border-spacing: 0 1.5em;
}

.containerForm form table input {
    margin-left: 1em;
    padding: 0 0.3em;
    width: 350px;
    border: 3px solid #000000;
    height: 50px;
    font-size: 1.8rem;
}

.containerForm form button {
    background: none;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    margin-top: 2em;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.containerForm form button:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
.containerForm form button:active {
box-shadow: 0 0 0 black;
transform: translate(0, 0);
}

@keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
}

.caseForm:hover {
    text-decoration: underline;
}