@font-face {
  font-family: 'Press_Start';
  src: url("../font/Press_Start_2P/PressStart2P-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url("../font/VT323/VT323-Regular.ttf") format('truetype');
}
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
  font-family: 'Press_Start';
}

h2, h3, h4, h5 {
  font-family: 'VT323';
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}

body {
    background-color: #FEFBF3;
    background-image: url("../image/uploads/anonces/Chessboard\ background.png");
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Press_start";
}

a {
  text-decoration: none;
  color: inherit;
}

textarea:focus, input:focus{
  outline: none;
}

/* HEADER */

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #ffffff;
  text-align: center;
}
header h1 {
  font-family: "Press_start";
  font-size: 5rem;
  margin-bottom: 0.3em;
}
header p {
  font-size: 1rem;
  font-weight: lighter;
}

/* CARTES */

.listCard {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.card {
  background-color: #F6C6EA;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 2em;
  text-align: left;
  width: 220px;
  min-height: 220px;
  cursor: pointer;
  padding: 15px;
  color: #000000;
  border: 3px solid #000000;
  transition: .2s all;
}

.listCard .card h2 {
  font-family: 'VT323';
  font-size: 2rem;
  transition: .2s all;
}

.card:hover {
  color: #ffffff;
  box-shadow: 0.6rem 0.6rem 0 #000000;
}

.card:hover > h2 {
  transition-delay: .2s;
  background: #000000;
  padding: 0.2em 0.6em;
  transform: translateX(-40px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 14px;
  font-weight: normal;
}

/* BOUTONS */

.btn {
  background: none;
  padding: 0.3rem 1.5rem;
  border: 3px solid black;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  cursor: pointer;
  font-family: 'VT323';
  font-size: 1.7rem;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
box-shadow: 0 0 0 black;
transform: translate(0, 0);
}

