@font-face {
  font-family: "Press_Start";
  src: url("../font/PressStart2P-Regular.ttf") format("truetype");
 }
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #dbb7fa;
    font-family: "Press_start";
}

a {
  text-decoration: none;
  color: inherit;
}

textarea:focus, input:focus{
  outline: none;
}
