{% extends "base.html.twig" %}
{% block title %}Ajouter un article{% endblock %}
{% block body %}

{% include "navbar/navbar.html.twig" %}

<header class="headerAddAnnonce">
    <div class="containerForm formAddAnnonce">
    <h1>Ajouter un article</h1>
        <form action="{{ path('createAnonces') }}" method="post" enctype="multipart/form-data">       
            <table>
                <tr>
                    <td>Titre</td>
                    <td><input type="text" name="title" required></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="description" rows="5" required></textarea></td>
                </tr>
                <tr>
                    <td>Prix</td>
                    <td><input type="number" name="prix" required></td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td><input type="file" name="image" required></td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td><input type="text" class="" id="tags" name="tags" required></td>
                </tr>
            </table>
            <button type="submit">Publier l'article</button>
        </form>
    </div>
</header>

{% endblock %}
